<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FCSRCon" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=HorticultureDB;Data Source=MISSPECIALISTO\MSSQLSERVER2012" providerName="System.Data.SqlClient"/>
    <!--<add name="CBEConn" connectionString="Password=admin123@!;Persist Security Info=True;User ID=devadmin;Initial Catalog=CBE;Data Source=DEVSERVER" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
</configuration>